JWT_PUBLIC_KEY_BASE64=
JWT_ALG=RS256
AUTH_HEADER=Authorization
WALLET_BASE_URL=http://localhost:8000
WALLET_BAL_URL=/wallet/balance
WALLET_BET_URL=/wallet/bet
WALLET_CREDIT_URL=/wallet/credit
SQLALCHEMY_DATABASE_URI=sqlite+aiosqlite:///./casino.db
CORS_ORIGINS=["http://localhost:5173","http://localhost:5174","http://localhost:5180","http://localhost:3000"]
